body
{
  margin: 0px;
  background-size:100%;
    font-family: open-sans, sans-serif;
}


::-webkit-scrollbar{
  width:4px;
  background:#fff;
}

::-webkit-scrollbar-thumb{
    background:#7f7f7f;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background:#616161;
}